{% extends 'blog/base.html' %}

{% block title %}Edit Comment - Django Blog{% endblock %}

{% block content %}
<h2>Edit Comment</h2>

<form method="post">
    {% csrf_token %}
    
    <div class="form-group">
        <label for="{{ form.content.id_for_label }}">Comment:</label>
        {{ form.content }}
        {% if form.content.errors %}
            <div class="error">{{ form.content.errors }}</div>
        {% endif %}
    </div>
    
    <button type="submit">Update Comment</button>
    <a href="{% url 'post-detail' object.post.pk %}"><button type="button">Cancel</button></a>
</form>
{% endblock %}